-# Hide header in map view if mobile
%header.header
  .header-wrapper
    .left-menu
      .visible-tablet
        #header-menu-desktop-anchor.header-menu-container.toggle.hidden{data: {toggle: '#header-menu-toggle-menu', 'toggle-position' => 'absolute'}}
      .hidden-tablet
        .header-menu-container.toggle.hidden{data: {toggle: '#header-menu-toggle-menu', 'toggle-position' => 'absolute'}}
          #header-menu-mobile-anchor.header-menu-toggle-container.toggle-header-container
            = icon_tag("rows", ["header-menu-icon"])
            %span.visible-tablet-inline
              = t("header.menu")
      = render :partial => "layouts/header_menu"
    -#
      If necessary, the buttons will overlap with the logo. Buttons should be on top, that's
      keep the logo here after buttons
    = link_to @homepage_path, :class => "header-logo header-logo-link visible-tablet", :id => "header-logo" do
      -#%i.header-wide-logo
      -image_tag @current_community.wide_logo.url

    = link_to @homepage_path, :class => "header-logo header-logo-link hidden-tablet", :id => "header-logo" do
      %i.header-square-logo
        -# Logo is here, it's a CSS background
    .right-actions
      .header-right
        .header-right.visible-tablet
          = link_to new_listing_path, :class => "new-listing-link" do
            -#= icon_tag("new_listing", ["icon-with-text"])
            = t("homepage.index.list_your_ride")
        - unless @current_user
          .header-right
            = link_to sign_up_path, class: "header-text-link header-hover" do
              %b
                = t("header.signup")
          .header-right
            = link_to login_path, class: "header-text-link header-hover", id: "header-login-link" do
              = t("header.login")
        - else
          - Maybe(@current_user).each do |user|
            - conversations = @current_community.conversations.for_person(user)
            - unread_count = MarketplaceService::Inbox::Query.notification_count(user.id, @current_community.id)

            .header-right
              = render :partial => "layouts/header_anchors", locals: {user: user}
              = render :partial => "layouts/header_user_menu", locals: {unread_count: unread_count, user: user}