#header-menu-toggle-menu.toggle-menu.header-toggle-menu-menu.hidden
  .hidden-desktop
    - unless @current_user
      = link_to sign_up_path do
        = t("header.signup")
      = link_to login_path do
        = t("header.login")
  = link_to "/" do
    = t("header.home")

  = link_to new_listing_path, :class => "hidden-tablet" do
    = t("homepage.index.post_new_listing")
  - Maybe(@current_community).menu_links.each do |menu_links|
    - menu_links.each do |menu_link|
      = link_to menu_link.url(I18n.locale) do
        = menu_link.title(I18n.locale)

  = link_to about_infos_path do
    = t("header.about")

  = link_to new_user_feedback_path do
    = t("header.contact_us")

  = link_to home_coverage_path do
    = t("header.promise")


  - if @current_user && @current_community && @current_user.has_admin_rights_in?(@current_community)
    = link_to edit_details_admin_community_path(@current_community) do
      = t("layouts.logged_in.admin")

  .hidden-desktop
    - with_available_locales do |locales|
      .toggle-menu-title
        = t("layouts.global-header.select_language")

      = render :partial => "layouts/locale_select", :collection => locales, :as => :loc_array
    - if @current_user
      - Maybe(@current_user).each do |user|
        = link_to person_path(user) do
          = t("header.profile")

        = link_to person_settings_path(user) do
          = t("layouts.logged_in.settings")

        = link_to logout_path do
          = t("layouts.logged_in.logout")